layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: 快速、高效、跨平台的嵌入式软件解决方案
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 超快速度
      p.intro-feature-desc ebox精简的API接口让用户快速入门单片机开发。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 多平台支持
      p.intro-feature-desc ebox支持STM32F1xx、STM32F4xx、K60等系列单片机。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 驱动“0”修改移植
      p.intro-feature-desc 只要是ebox的标准驱动可以在任意平台上不做任何修改就可以使用。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 丰富的驱动、软件下载
      p.intro-feature-desc ebox支持大量芯片的驱动和非常丰富的软件资源库。